*{margin: 0;
    padding: 0;
}
 
html,body{
    width:100%;
    height:100%;
}
#main{
    background-color: rgb(3, 3, 90);
    width:100%;
    height:100%;
}
#header{
    width:100%;
    height:10%;
    background-color: darkblue;
    position:fixed;
}
#fakeheader{
    height: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#page1{
    width:100%;
    height:90%;
    background-color: bisque;
}
#page2{
    height:90%;
    width:100%;
    background-color: lightcoral;
}
#page3{
    height:90%;
    width:100%;
    background-color: rgb(64, 151, 151);

}